button, input, optgroup, select, textarea {
    color: #002752;
    
}
.chosen-container .chosen-results li.active-result{
    color: #000;
}
.chosen-container .chosen-results li.active-result:hover{
    color: #fff;
}